* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    gap: 16px;
    background-color: #F2F4F7;
}

ul {
    list-style: none;
}

